
*{
	padding: 10px;
	
    text-align: center;

}

.meme{
 
 background-image:url(download.jpeg);
     width: 250px;
     height: 250px;
    background-size: cover;
   margin-left: 43%;
   margin-top: 15%;
}

